@font-face {
  font-family: "Gilroy ExtraBold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: lighter;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: lighter;
}

body {
  margin: 0;
  padding: 0;

  color: #000000;

  background-color: #ffffff;
}

a {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: rgba(0, 0, 0, 0.5)
}

a:active {
  color: rgba(0, 0, 0, 0.3)
}

ul {
  list-style: none;
}

footer {
  background-color: #464646;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {
  background-color: #f7e296;
}

.main-navigation-logo {
  font-size: 48px;
  letter-spacing: 3px;
}

.search input[type="search"] {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: none;
}

.search input[type="search"]:hover::-webkit-input-placeholder,
.search input[type="search"]:hover::-moz-placeholder,
.search input[type="search"]:hover:-moz-placeholder,
.search input[type="search"]:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search input[type="search"]:focus::-webkit-input-placeholder,
.search input[type="search"]:focus::-moz-placeholder,
.search input[type="search"]:focus:-moz-placeholder,
.search input[type="search"]:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search input[type="submit"] {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;

  background-color: transparent;
  border: 1px solid #000000;
}

.search input[type="submit"]:hover {
  color: #ffffff;

  background-color: #000000;
}

.search input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #000000;
}

.user-menu a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.product-navigation .product-navigation-title span {
  font-size: 18px;
  letter-spacing: 3px;
  text-align: 24px;
  text-transform: uppercase;
}

.product-navigation-title .product-navigation-list li>a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
}

.services-navigation {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
}





.slider-promo .slider-promo-title {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
}

.slider-promo .slider-promo-content {
  font-family: "Times New Roman", serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.slider-promo .slider-promo-link {
  text-transform: uppercase;
  letter-spacing: 3px;

  background-color: #f0c52e;
}

.slider-promo .slider-promo-link:hover {
  color: rgba(0, 0, 0, 1);
}

.slider-promo .slider-promo-link:active {
  color: rgba(0, 0, 0, 0.5);
}

.slider-promo .slider-promo-table td {
  font-family: "Gilroy Light";
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.slider-promo .slider-promo-table th {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
}





.product-catalog-list img {
  background-color: rgba(240, 197, 46, 0.5);
}

.product-catalog-list img:hover {
  background-color: rgba(240, 197, 46, 1);
}

.product-catalog-list img:active {
  opacity: 0.3;
}

.product-catalog-list a:hover {
  color: rgba(0, 0, 0, 1);
}

.product-catalog-list a:active {
  color: rgba(0, 0, 0, 0.3);
}





.services {
  background-color: #e5e5e5;
}

.services-link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;

  background-color: #f0c52e;
}

.services-link:hover {
  color: #000000;
}

.services-link:active {
  color: #f7e184;

  background-color: #000000;
}

.services-content h2 {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.services-content p {
  font-family: "Times New Roman", serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
}
