@font-face {
  font-family: "Gilroy ExtraBold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensans.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


a.main-navigation-logo {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 48px;
  color: #000000;
  letter-spacing: 3px;
  text-decoration: none;
}

a.main-navigation-logo:hover {
  color: rgba(0, 0, 0, 0.6);
}

a.main-navigation-logo:active {
  color: rgba(0, 0, 0, 0.3);
}

input[type="search"] {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;

  background-color: transparent;
  border: none;
}

input[type="search"]::-webkit-input-placeholder,
input[type="search"]::-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="search"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}


input[type="search"]:hover::-webkit-input-placeholder,
input[type="search"]:hover::-moz-placeholder,
input[type="search"]:hover:-moz-placeholder,
input[type="search"]:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

input[type="search"]:focus::-webkit-input-placeholder,
input[type="search"]:focus::-moz-placeholder,
input[type="search"]:focus:-moz-placeholder,
input[type="search"]:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.search input[type="submit"] {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;

  background-color: transparent;
  border: 1px solid #000000;
}

.search input[type="submit"]:hover {
  color: #ffffff;

  background-color: #000000;
}

.search input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

ul.user-menu {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-menu li>a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  color: #000000;
  line-height: 30px;
  text-decoration: none;
}

.user-menu li>a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu li>a:active {
  color: rgba(0, 0, 0, 0.3);
}


ul.topmenu,
ul.submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topmenu .down {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 3px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

.topmenu .down:hover {
  color: rgba(0, 0, 0, 0.6);
}

.topmenu .down:active {
  color: rgba(0, 0, 0, 0.3);
}

.submenu li>a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 3px;
  line-height: 36px;
  text-decoration: none;
}

.submenu li>a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.submenu li>a:active {
  color: rgba(0, 0, 0, 0.3);
}

ul.services-navigation {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-navigation a {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.services-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.services-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}




.slider-promo .slider-promo-title {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
}

.slider-promo .slider-promo-content {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.slider-promo .slider-promo-link {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;

  background-color: #f0c52e;
}

.slider-promo .slider-promo-link:hover {
  color: rgba(0, 0, 0, 1);
}

.slider-promo .slider-promo-link:active {
  color: rgba(0, 0, 0, 0.5);
}

.slider-promo .slider-promo-table td {
  font-family: "Gilroy Light";
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.slider-promo .slider-promo-table th {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
}





.product-catalog-list img {
  background-color: rgba(240, 197, 46, 0.5);
}

.product-catalog-list img:hover {
  background-color: rgba(240, 197, 46, 1);
}

.product-catalog-list img:active {
  opacity: 0.3;
}

.product-catalog-list a:hover {
  color: rgba(0, 0, 0, 1);
}

.product-catalog-list a:active {
  color: rgba(0, 0, 0, 0.3);
}





.services {
  background-color: #e5e5e5;
}

.services-link {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;

  background-color: #f0c52e;
}

.services-link:hover {
  color: #000000;
}

.services-link:active {
  color: #f7e184;

  background-color: #000000;
}

.services-content h2 {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.services-content p {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
}






.brands a {
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands a:hover {
  filter: none;
  opacity: 1;
}





.block-info-link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;

  background-color: #f0c52e;
}

.block-info-link:hover {
  color: rgba(0, 0, 0, 1);
}

.block-info-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.block-about-us h2,
.block-contacts h2 {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.block-about-us p,
.block-contacts p {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

input[type="text"] + label {
  font-family: font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}





/*здесь начинается стилизация основного содержания страницы catalog.html*/
.main-catalog-page .page-title {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  font-size: 48px;
}

.main-catalog-page .breadcrumbs a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.main-catalog-page .breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-catalog-page .breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.block-filter h2,
.sort h2 {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.sort .sort-list li>a {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort .sort-list li>a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort .sort-list li>a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-list a {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.catalog-list a:hover,
.catalog-list a:active {
  color: #000000;
}

.catalog-list .price {
  font-family: "Gilroy Light";
  font-size: 16px;
  line-height: 24px;
}

.pagination {
  display: inline-block;

  background-color: #ebebeb;
}

.pagination a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.pagination a.pagination-backward,
.pagination a.pagination-forth {
  color: rgba(0, 0, 0, 1);
}

.pagination a.active {
  color: rgba(0, 0, 0, 1);
}

.pagination a.pagination-backward:hover,
.pagination a.pagination-forth:hover {
  background-color: #d9d9d9;
}

.pagination a.pagination-backward:active,
.pagination a.pagination-forth:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

/*здесь заканчивается стилизация основного содержания страницы catalog.html*/





.page-footer {
  color: #ffffff;

  background-color: #464646;
}

.page-footer-logo {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 3px;
  color: rgba(255, 198, 0, 1);
}

.page-footer-logo:hover {
  color: rgba(255, 198, 0, 0.6);
}

.page-footer-logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.page-footer .user-menu a {
  color: rgba(255, 255, 255, 0.7);
}

.page-footer .user-menu a:hover {
  color: rgba(255, 255, 255, 1);
}

.page-footer .user-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer .services-navigation a {
  color: rgba(255, 255, 255, 1);
}

.page-footer .services-navigation a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer .services-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer .address {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
}

.page-footer .phone {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.phone:hover,
.phone:active {
  color: #ffffff;
}

.social-list a {
  opacity: 0.3;
}

.social-list a:hover {
  opacity: 0.6;
}

.social-list a:active {
  opacity: 0.1;
}

.developer a:hover {
  opacity: 0.6;
}

.developer a:active {
  opacity: 0.3;
}

/*Сеточные стили*/
html,
body {
  min-width: 1040px;
  min-height: 1750px;
}

.main-header {
  padding-top: 50px;
  padding-right: 60px;
  padding-bottom: 40px;
  padding-left: 60px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #f7e296;
}
.main-header .flex-container {
  display: flex;
  justify-content: space-between;
}

.user-menu li {
  display: inline-block;
}

.services-navigation li {
  display: inline-block;
}



.slider-promo {
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
  margin-bottom: 108px;
}

.slide-1 .flex-container,
.slide-2 .flex-container,
.slide-3 .flex-container {
  display: flex;
  justify-content: center;
}

.slide-1 .flex-container-item-1 {
  margin-right: 125px;
}

.slide-2 .flex-container-item-1 {
  margin-right: 140px;
}

.slide-3 .flex-container-item-1 {
  margin-right: 40px;
}



.product-catalog {
  margin-bottom: 80px;
}

.product-catalog-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

.product-catalog-list li {
  margin-right: 40px;
}

.product-catalog-list li:last-child {
  margin-right: 0;
}

.services {
  margin-bottom: 105px;

  display: flex;
}

.services-list {
  margin: 0;
  margin-right: 100px;
  padding: 0;

  width: 300px;
}




.brands {
  margin-bottom: 105px;
}

ul.brands-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

ul.brands-list li {
  width: 260px;
  text-align: center;
  margin-right: 40px;
}

ul.brands-list li:last-child {
  margin-right: 0;
}

.block-info {
  display: flex;
  margin-bottom: 90px;
}

.block-about-us {
  width: 500px;
}

.block-contacts {
  width: 560px;
}

.page-footer {
  display: flex;
  padding-top: 65px;
  padding-bottom: 65px;
}
